@font-face {
    font-family: 'Lito';
    src: local('Lito PRINT Italic'), local('Lito-PRINT-Italic'),
        url('../fonts/LITOPRINT-Italic.woff2') format('woff2'),
        url('../fonts/LITOPRINT-Italic.woff') format('woff'),
        url('../fonts/LITOPRINT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #a1a0a5;
    padding-right: 0.15em; /* Adjust padding to match the border */
    vertical-align: bottom; /* Align with the text */
    animation: blink-caret 0.7s step-end infinite;
    font-family: 'Lito', sans-serif; /* Make sure the correct font is here */
}
/* Blinking cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #a1a0a5; }
}
